<footer class="py-5 bg-danger">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        <ul class="footer-site-social text-center text-white">
            <a href="https://www.facebook.com/profile.php?id=100003999962165"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/gmanish577/"><i class="fab fa-instagram"></i></a>

            <a href="https://twitter.com/manish5773"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/manishgupta577"><i class="fab fa-github"></i></a>
        </ul>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.alert').slideUp(1000);
        },1000);
    });
</script>
</body>

</html>